<!doctype html>
<html>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Chord Djenerator</title>
    <div class="container">
        <h1>Django Chord Djenerator</h1>
    </div>


    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- BOOTSTRAP THEME-->
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="styles.css">
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="/"><i class="fas fa-fw fa-book"></i> Django Chord Djenerator</a>
          <form class="form-inline ml-auto">
            {% if user.is_authenticated %}
            <div class="text-white">Hello, Choose a key <strong></strong> </div>

            <br>

            {% else %}

            <div class="text-white">Hello! Choose a key </div>

            {% endif %}
            <a href="/A/" class="btn btn-primary ml-4">A</a>
            <a href="/Bb/" class="btn btn-secondary ml-4">A#/Bb</a>
            <a href="/B/" class="btn btn-primary ml-4">B</a>
            <a href="/C/" class="btn btn-primary ml-4">C</a>
            <a href="/Db/" class="btn btn-secondary ml-4">C#/Db</a>
            <a href="/D/" class="btn btn-primary ml-4">D</a>
            <a href="/Eb/" class="btn btn-secondary ml-4">D#/Eb</a>
            <a href="/E/" class="btn btn-primary ml-4">E</a>
            <a href="/F/" class="btn btn-primary ml-4">F</a>
            <a href="/Gb/" class="btn btn-secondary ml-4">F#/Gb</a>
            <a href="/G/" class="btn btn-primary ml-4">G</a>
            <a href="/Ab/" class="btn btn-secondary ml-4">G#/Ab</a>
            {% if user.is_authenticated %}

            <a href="" class="btn btn-danger ml-2">Log Out</a>
            {% else %}
            <a href="/" class="btn btn-danger ml-2">Log In</a>
            <a href="/" class="btn btn-primary ml-2">Sign Up</a>
            {% endif %}

          </form>
        </nav>
    {% block content %}
        BODY CONTENT GOES HERE
    {% endblock %}

</body>
</html>
